Arquivo que irá conter a criação e manipulação do banco de dados

Criando a conexão com o banco de dados

In [2]:
import pymysql

conexao = pymysql.connect(
    
    host = 'localhost',
    
    user = 'root',
    
    password = ''
)

cursor = conexao.cursor()

Criando a base de dados

In [3]:
try:
    
    sql_query = "CREATE DATABASE livraria"
    
    cursor.execute(sql_query)
    
    print("Banco de dados criado com sucesso")

except pymysql.ProgrammingError as erro:
    
    print("Falha na criação do banco de dados, por favor verifique se o banco criado ja existe no sistema: ", erro)

Banco de dados criado com sucesso

In [5]:
try:
    
    sql_query = "USE livraria"
    
    cursor.execute(sql_query)
    
    print("Banco acessado com sucesso")

except pymysql.OperationError as erro:
    
    print("Falha na comunicação com o servidor: ", erro)

except pymysql.ProgrammingError as erro:
    
    print("Falha ao acessar o banco de dados, por favor verifique se o banco existe no sistema: ", erro)

Banco acessado com sucesso

Criando as tabelas do sistema

-> Clientes: cpf, nome, telefone, email, senha

-> Funcionários: nome, senha, id

-> Livro: ISBN, Titulo, Autor, Ano de Publicação, quantidade

-> Alugúeis: id, cpf do cliente, isbn do livro data do aluguel, data da
devolução.

In [9]:
try:
    
    tabela_cliente = "CREATE TABLE clientes cpf VARCHAR(11) PRIMARY KEY, nome VARCHAR(250) NOT NULL, telefone INTEGER(11) NOT NULL, email VARCHAR(250) NOT NULL, senha VARCHAR(5) NOT NULL"
    
    tabela_funcionario = "CREATE TABLE funcionarios id INTEGER PRIMARY KEY AUTO_INCREMENT, nome VARCHAR(250) NOT NULL, senha VARCHAR(5) NOT NULL"
    
    tabela_livro = "CREATE TABLE livros isbn INTEGER(6) PRIMARY KEY, titulo varchar(250) NOT NULL, autor(varchar) NOT NULL, ano_publicacao INTEGER(4), quantidade INTEGER DEFAULT 0, data_atualizacao_estoque TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP"
    
    tabela_alugueis = "CREATE TABLE alugueis id PRIMARY KEY AUTO_INCREMENT, cpf_cliente VARCHAR (11) NOT NULL, isbn_do_livro INTEGER(6) NOT NULL, data_aluguel TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL, data_devolucao DATE NOT NULL, FOREIGN KEY (cpf_cliente) REFERENCES clientes(cpf) ON DELETE RESTRICT ON UPDATE CASCADE, FOREIGN KEY (isbn_livro) REFERENCES livros(isbn) ON DELETE RESTRICT ON UPDATE CASCADE"
    
    cursor.execute(tabela_cliente)
    
    cursor.execute(tabela_funcionario)
    
    cursor.execute(tabela_livro)
    
    cursor.execute(tabela_alugueis)
    
    print("Tabelas criadas com sucesso")

except pymysql.OperationalError as erro:
    
    print("Falha na comunicação com o servidor, não foi possivel criar a tabela: ", erro)
    
except pymysql.ProgrammingError as erro:
    
    print("Erro na lógica da criação da tabela: ", erro)

Erro na lógica da criação da tabela:  (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'VARCHAR(11) PRIMARY KEY, nome VARCHAR(250) NOT NULL, telefone INTEGER(11) NOT...' at line 1")