Arquivo que irá conter a criação e manipulação do banco de dados

Criando a conexão com o banco de dados

In [1]:
# Import da biblioteca pymysql que tem como objetivo conectar o python 
# a um servidor mysql
import pymysql

# Ira Função da biblioteca connect que irá conectar o python com o mysql
# usando a função connect que recebe como argumento:
# host: endereço do servidor que conterá o banco de dados criado no sistema.
# usuário: Nome do usuário que irá criar e utilizar o banco de dados (podemos
# ter mais de um user com privilégios diferentes).
# password: Senha de acesso ao servidor.
conexao = pymysql.connect(
    
    host = 'localhost',
    
    user = 'root',
    
    password = ''
)

# O cursor serve para manipular e enviar requisições ao servidor utilizado.
cursor = conexao.cursor()

Criando a base de dados

In [ ]:
# Irá inspecionar o bloco de código com o objetivo de capturar
# possiveis erros de execução do trecho. 
try:
    
    # Ira conter o comando sql que cria o banco de dados no servidor.
    sql_query = "CREATE DATABASE livraria"
    
    # Ira executar o comando.
    cursor.execute(sql_query)
    
    # Mensagem que será impressa após a execução bem sucedida do bloco
    print("Banco de dados criado com sucesso")


except pymysql.ProgrammingError as erro:
    
    # Tem como objetivo capturar possiveis erros de lógica no sistema
    print("Falha na criação do banco de dados, por favor verifique se o banco criado ja existe no sistema: ", erro)

except pymysql.OperationalError as erro:
    
    # Ira tratar erros relacionados a comunicação com o servidor, como por exemplo, falhas nas conexões com o server.
    print("Não foi possivel criar o banco de dados. Falha na comunicação com o servidor: ", erro)

Banco de dados criado com sucesso

Acessando a base de dados

In [2]:
# Irá inspecionar o bloco de código com o objetivo de capturar possiveis
# erros de execução do trecho
try:
    
    # Ira conter o comando que concede acesso ao banco que será 
    # utilizado no projeto.
    sql_query = "USE livraria"
    
    # Irá executar o comando
    cursor.execute(sql_query)
    
    # Mensagem qie será impressa após a execução bem sucedida do bloco.
    print("Banco acessado com sucesso")

except pymysql.OperationError as erro:
    
    # Ira tratar erros relacionados a comunicação com o servidor
    print("Falha na comunicação com o servidor: ", erro)

except pymysql.ProgrammingError as erro:
    
    # Ira tratra erros relacionados a lógica como por exemplo, a criação de 
    # um banco que ja existe no sistema
    print("Falha ao acessar o banco de dados, por favor verifique se o banco existe no sistema: ", erro)

Banco acessado com sucesso

Criando as tabelas do sistema

-> Clientes: cpf, nome, telefone, email, senha

-> Funcionários: nome, senha, id

-> Livro: ISBN, Titulo, Autor, Ano de Publicação, quantidade

-> Alugúeis: id, cpf do cliente, isbn do livro data do aluguel, data da
devolução.

In [ ]:
try:
    
    # Tabela que irá conter as informações dos clientes cadastrados no sistema
    
    # Observações:
    # -> O cpf será a chave primária dos clientes, ou seja, usaremos o cpf
    # para referenciar os clientes.
    # -> Vamos deixar o telefone como varchar para conseguirmos adaptar melhor
    # o formato que o dado irá chegar no campo de telefone (como o ddd ou caracteres como "-").
    # -> A senhas irão conter um varchar 255 para conseguirmos espaço suficiente
    # para trabalhar a criptografia da senha.
    # -> Nessa tabela todos os campos serão obrigatórios.
    tabela_cliente = "CREATE TABLE clientes (cpf VARCHAR(11) PRIMARY KEY, nome VARCHAR(250) NOT NULL, telefone VARCHAR(15) NOT NULL, email VARCHAR(250) NOT NULL, senha VARCHAR(255) NOT NULL)"
    
    # Tabela que irá conter os dados de funcionários cadastrados no sistema
    tabela_funcionario = "CREATE TABLE funcionarios (id INTEGER PRIMARY KEY AUTO_INCREMENT, nome VARCHAR(250) NOT NULL, senha VARCHAR(5) NOT NULL)"
    
    # Tabela que irá conter os livros cadastrados no sistema. 
    tabela_livro = "CREATE TABLE livros (isbn Integer(6) PRIMARY KEY, titulo varchar(250) NOT NULL, autor VARCHAR(250) NOT NULL, ano_publicacao INTEGER(4), quantidade INTEGER DEFAULT 0, data_atualizacao_estoque TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP)"
    
    # Tabela que irá conter todas as relaçoes entre cliente e livro com o objetivo de registrar todos os aluguéis do sistema.
    # Observações:
    # -> Todas as colunas serão obrigatórias.
    
    # -> posteriormente teremos que pensar como calcular os 30 dias para o valor da coluna de data de devolução.
    # -> ira utilizar as colunas cpf_cliente e isbn_do_livro como chaves estrangeiras.
    
    # -> ON DELETE RESTRICT: Função que tem como objetivo restringir a exclusão dos valores das chaves estrangeiras. Dessa maneira, caso seja necessário
    # excluir algum cliente ou livro, teremos que excluir os dados das chaves
    # estrangeiras da tabela alugúeis.
    
    # -> ON UPDATE CASCADE: Possibilita que a chave estrangeira seja automaticamente atualizada, caso os valores de cpf e isbn sejam atualizados nas outras tabelas.
    tabela_alugueis = "CREATE TABLE alugueis (id INTEGER PRIMARY KEY AUTO_INCREMENT, cpf_cliente VARCHAR (11) NOT NULL, isbn_do_livro INTEGER(6) NOT NULL, data_aluguel TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL, data_devolucao DATE NOT NULL, FOREIGN KEY (cpf_cliente) REFERENCES clientes(cpf) ON DELETE RESTRICT ON UPDATE CASCADE, FOREIGN KEY (isbn_do_livro) REFERENCES livros(isbn) ON DELETE RESTRICT ON UPDATE CASCADE)"
    
    # Ira executar todos os comandos de criação de tabelas.
    cursor.execute(tabela_cliente)
    
    cursor.execute(tabela_funcionario)
    
    cursor.execute(tabela_livro)
    
    cursor.execute(tabela_alugueis)
    
    # Mensagem que será exibida após a execução bem sucedida do bloco. 
    print("Tabelas criadas com sucesso")

except pymysql.OperationalError as erro:
    
    # Irá tratar erros relacionados a comunicação com o servidor, como falhas na conexão
    # por exemplo.
    print("Falha na comunicação com o servidor, não foi possivel criar a tabela: ", erro)
    
except pymysql.ProgrammingError as erro:
    
    # Ira tratar erros de lógica como erros de sintaxe ou criação de tabelas ja existentes.
    print("Erro na lógica da criação da tabela: ", erro)

Tabelas criadas com sucesso

Verificando a existência das tabelas

In [11]:
sql_query = "SHOW TABLES"

cursor.execute(sql_query)

for dado in cursor:
    
    print(dado)

('alugueis',)
('clientes',)
('funcionarios',)
('livros',)

Verificando se os dados cadastrados foram salvos no banco de dados

In [3]:
# Irá inspecionar o bloco de código com o objetivo de capturar possiveis erros
try:
    
    # Ira conter o nome da tabela que será selecionada
    nome_tabela = input(str("Escreva o nome da tabela que será selecionada"))
    
    # Ira conter o comando sql
    sql_query = f"SELECT * FROM {nome_tabela}"
    
    # Irá executar o comando sql
    cursor.execute(sql_query)
    
    # For que irá percorrer o cursor e imprimir os dados selecionados
    for dado in cursor:
        
        print(dado)

except pymysql.ProgrammingError as erro:
    
    # Irá tratar erros de sintaxe ou lógica
    print("Não foi possivel selecionar os dados: ", erro)

except pymysql.OperationalError as erro:
    
    # Ira tratar erros relacionados a comunicação com o servidor
    print("Falha na comunicação com o servidor: ", erro)

('09089234678', 'caio', '40028922', 'caio@gmail.com', '$2b$12$Nsm2Tvk8yrmyJzDPgKDCyum4155m1LMy25vOwEaAXHSwpc2SetJXW')
('12345678911', 'caikesales', '41895678', 'email@.com', '$2b$12$OwEDmHAVxSP.1XoCsn74m.u98BG2G3Zp/O.0HA5k3KWkU7ASEULY6')
('22222222222', 'maria', '23233356', 'maria@gmail.com', '$2b$12$70R/of5Fd.Ztb4WSIWMVU.Ui9v6h3A0aD0Lr163.yMckI15ZAMM1O')
('90909090909', 'jean', '40028922', 'jean@gmail.com', '$2b$12$7C8tRcyt0x0Ws89c9mV13.WVSI45EocAeqOF54MOJ0WPs4.91EW/.')